
{% extends "pages/main.html" %}
{% load static %}
{% block mainbody %}
    <div id="hi">
        <!-- <img src='{% static "pages/images/sots-text.png" %}' />
        <p>Hello World!</p> -->
        <div id="top1">
            <div id="top1-1">
                
            </div>
        </div>
        <div id="top2">
            <div id="top2-1">

            </div>
        </div>
        <div id="top3">
            <div id="top3-1">

            </div>
        </div>
        <div id="top4">
            <div id="top4-1">
                
            </div>
        </div>
        <div id="top5"></div>
    </div>
{%endblock%}

<!-- <!DOCTYPE html>
<html>
<head>
<title>Ploopse</title>
</head>
<body>

<h1>My First Heading</h1>
<p>Halloooooo.</p>

</body>
</html> -->