
{% extends "pages/main.html" %}
{% load static %}
{% block mainbody %}
    <div id="hi">
        <div id="top1">
            <div id="top1-1">
                
            </div>
        </div>
        <div id="top2">
            <div id="top2-1">

            </div>
        </div>
        <div id="top3">
            <div id="top3-1">

            </div>
        </div>
        <!-- <div id="top4">
            <div id="top4-1">

            </div>
        </div>
        <div id="top5"></div> -->
    </div>
{%endblock%}