@font-face{
    font-family: 'Subscribe';
    src: local('Subscribe'),
        url('./fonts/Subscribe.ttf') format("truetype");
}
p, input, label, h2{
    font-family: "Subscribe";
    color: black;
    text-align: center;
}

.text{
    font-size: 2em;
    
}

#main{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-image: url('images/generic-bg.png');
    background-size: cover;
    background-position: bottom;

    height: 100vh;
    width: 100vw;

    padding: 0% 5% 0% 5%;
}

#header{
    margin-top: 5vh;
    font-size: 4em;
    margin-bottom: 10vh;
}

#socials-box{
    display: flex;
    flex-wrap: no-wrap;
}

a.email-link{
    text-decoration: underline;
    color: white;
}
a.email-link:link{
    text-decoration: underline;
    color: white;
}
a.email-link:visited{
    text-decoration: underline;
    color: white;
}
a.email-link:hover{
    text-decoration: underline;
    color: gray;
}