@font-face{
    font-family: 'Subscribe';
    src: local('Subscribe'),
        url('./fonts/Subscribe.ttf') format("truetype");
}
p, input, label{
    font-family: "Subscribe";
}
#main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#connect-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vw;
    border: 5px red;
    border-radius: 10vw;
    background-color: lightblue;
}
#conn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  
}
#connect-text{
  font-size: 6vw;
  
}

#form-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.flex-outer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    font-size: 4vh;
}

input{margin-left: 10px;
    margin-bottom: 10px;}

#wallet{
    order: 1;
    align-self: flex-end;
    
}
#first-name{
    order: 2;
}

#last-name{
    order: 3;
}

#email{
    order: 4;
}

#order-number{
    order: 5;
}
#submit-button{
    margin-top: 10px;
}