{% extends "pages/main.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/cc.css' %}">
<script src="{% static 'pages/js/web3.min.js' %}"></script>
<!-- <script src="{% static 'pages/js/walletconnect/index.min.js' %}"></script> -->
<!-- <script src="https://unpkg.com/@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js"></script> -->
<script src="{% static 'pages/js/walletconnect/index.min.js' %}"></script>
<script src="{% static 'pages/js/web3modal.js' %}"></script>
<script src="{% static 'pages/js/logic.js' %}"></script>
{% endblock %}
{% block mainbody %}
<div id="main-body">

    <!-- <iframe width="640px" height= "480px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=FIXdb3w0VEuvujneW5j3T8uNXniUGLBAg1beyM26_l5UMU5JOE9FUjQ3OEZJMlI5T0lYTUlaTTdMSS4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe> -->
    
    <div id="form-wrapper">
        <form id="form1" action="/capeclasp/form" method="post">
            {% csrf_token %}
            <div id="alert"><p style="color: red; font-size: 5ea;">{{ alerts }}</p></div>
                <div class="flex-outer">
                    <label for="wallet">Wallet:</label><input id="wallet" name="wallet" type="text" value="{{wallet}}" required />
                </div>
                <div class="flex-outer">
                    <label for="first-name">First Name:</label><input id="first-name" name="first-name" type="text" required />
                </div>
                <div class="flex-outer">
                    <label for="last-name">Last Name:</label><input id="last-name" name="last-name" type="text" required />
                </div>
                <div class="flex-outer">
                    <label for="email">Email:</label><input id="email"name="email"  type="text" required />
                </div>
                <div class="flex-outer">
                    <label for="order-number">Order Number:</label><input id="order-number" name="order-number" type="text" required />
                </div>
                <div class="flex-outer" style="margin-top: 10px;">
                    <input id="submit-button" name="submit" type="submit" />
                </div>
        </form>
    </div>


</div>
{% endblock %}