{% extends "pages/main.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/cc.css' %}">
<script src="{% static 'pages/js/web3.min.js' %}"></script>
<!-- <script src="{% static 'pages/js/walletconnect/index.min.js' %}"></script> -->
<!-- <script src="https://unpkg.com/@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js"></script> -->
<script src="{% static 'pages/js/walletconnect/index.min.js' %}"></script>
<script src="{% static 'pages/js/web3modal.js' %}"></script>
<script src="{% static 'pages/js/logic.js' %}"></script>
{% endblock %}
{% block mainbody %}
<div id="main-body">
    
    <div id="connect-wrapper"><div id="conn" onclick="onConnect();"><p id="connect-text">Claim Your NFT</p></div></div>
   
    <p class="text">Or, <a class="conn-link" href="https://saviorsofthesea.com/capeclasp/form">click here</a> to enter the form manually.</p>

</div>
{% endblock %}