
{% extends "pages/main.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
{% endblock %}
{% block mainbody %}
    <div id="hi">
        <div id="top1">
            <div id="top1-1" class="bg-container">
                <!-- <div id="title-spacer"></div> -->
                <h2 id="claim-text"><a style="color: white;" href="https://saviorsofthesea.com/claim">Claim HERE!</a></h2>
                <img id='title-img' src="{% static 'pages/images/sots-text.png'%}" width="85%"/>
                <div id="link-wrapper"><a style="display: inline;" href="https://shop.vznllc.com/collections/vzn-capeclasp-sots" target="_blank"><img id="mint-button" src="{% static 'pages/images/live-mint-button.png' %}" width="40%"/></a></div>
            </div>
        </div>
        <div id="top2">
            <div id="top2-1" class="bg-container">
                <!-- <img id="project-summary-text" src="{% static 'pages/images/project-summary-text.png' %}" width="85%" /> -->
                <div id="project-summary-wrapper"><p id="project-summary-text">Project Summary:</p></div>
                <!-- <img id="project-info" src="{% static 'pages/images/info.png' %}" width="80%" /> -->
                <!-- <img id="about-project-text" src="{% static 'pages/images/info.png' %}" width="90%"/> -->
                <div id="project-summary-image-div"><p id="project-summary-div-text">SUPPLY: 7,500 available to mint, 7,777 total Saviors<br />
                                                                                     PRICE: Varying $$$ for Merch Mint | Free for limited P2E Mint<br/>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0.02 ETH for Greenlist | 0.04 ETH Public Mint<br />
                                                                                     NETWORK: Ethereum (once on Proof-of-Stake!)<br />
                                                                                     PURPOSE: 20% to Ocean Conservation!<br />
                                                                                     CARBON OFFSET: SeaTrees Reforestation</p></div>
                <div id="donation-tracker-wrapper"><p id="donation-tracker">Donation Tracker: <span style="color: green;">$25,000 to Date!</span></p></div>
            </div>
        </div>
        <div id="top3">
            <div id="top3-1" class="bg-container">
                <div id="utility-text-wrapper"><p id="utility-text">Utility:</p></div>
                <!-- <img id="utility-about" src="{% static 'pages/images/utility.png' %}" width="90%" /> -->
                <div id="utility-summary-image-div">
                    <div id="col1">
                        <p id="u1" class="ut">Access to Greenchip DB</p>
                        <p id="u2" class="ut">Access to ClimaTech Network</p>
                        <p id="u3" class="ut">Generate $VZN every day</p>
                        <p id="u4" class="ut">Companion Project Airdrop</p>
                        <p id="u5" class="ut">1 Savior = 1 DAO Vote</p>
                    </div>
                    <div id="col2">
                        <p id="u6" class="ut">Access to NFT Worlds Plot</p>
                        <p id="u7" class="ut">Early Access to Merch Drops</p>
                        <p id="u8" class="ut">VIP Access to IRL Events</p>
                        <p id="u9" class="ut">Unlock Hidden Discord Channels</p>
                        <p id="u10" class="ut">Access to VZN Giveaways</p>
                    </div>
                </div>
                <div id="partner-block">
                    <div id="partners-text-block"><p id="partners-text">Partnerships:</p></div>
                    <div id="pt-block"><a href="https://plastictides.org" target="_blank"><img src="{% static 'pages/images/pt-logo.png' %}" width="100%" /></a></div>
                    <div id="coral-block"><a href="https://coral.org" target="_blank"><img src="{% static 'pages/images/coral.png' %}" width="100%"/></a></div>
                    <div id="cc-block"><a href="https://capeclasp.com" target="_blank"><img src="{% static 'pages/images/cc.png' %}" width="100%"/></a></div>
                </div>
            </div>
        </div>
        <div id="top4">
            <div id="top4-1" class="bg-container">
                <div id="roadmap-text-wrapper"><p id="roadmap-text">Roadmap:</p></div>
                <div id="roadmap-block">
                    <div class="rm" id="rm1">
                        <!-- <img src="{% static 'pages/images/media.png' %}" width="100%"/> -->
                        <p>Greenchip Database</p>
                    </div>
                    <div class="rm" id="rm2">
                        <!-- <img src="{% static 'pages/images/donation.png' %}" width="100%"/> -->
                        <a class="roadmap-link" href="https://shop.vznllc.com" target="_blank"><p>VZN Marketplace</p></a>
                    </div>
                    <div class="rm" id="rm3">
                        <!-- <img src="{% static 'pages/images/metaverse.png' %}" width="100%"/> -->
                        <p>Donations</p>
                    </div>
                    <div class="rm" id="rm4">
                        <!-- <img src="{% static 'pages/images/vzn-marketplace.png' %}" width="100%"/> -->
                        <p>Beach Cleanups</p>
                    </div>
                    <div class="rm" id="rm5">
                        <!-- <img src="{% static 'pages/images/p2e.png' %}" width="100%"/> -->
                        <p>Play-to-Earn</p>
                    </div>
                    <div class="rm" id="rm6">
                        <!-- <img src="{% static 'pages/images/partnerships.png' %}" width="100%"/> -->
                        <p>Metaverse Buildout</p>
                    </div>
                    <div class="rm" id="rm7">
                        <!-- <img src="{% static 'pages/images/partnerships.png' %}" width="100%"/> -->
                        <p>Community Events</p>
                    </div>
                    <div class="rm" id="rm8">
                        <!-- <img src="{% static 'pages/images/partnerships.png' %}" width="100%"/> -->
                        <p>DAO Voting</p>
                    </div>
                    <div class="rm" id="rm9">
                        <!-- <img src="{% static 'pages/images/partnerships.png' %}" width="100%"/> -->
                        <p>Saving Metaville!</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="top5">
            <div id="top5-1" class="bg-container">
                <div id="team-text-wrapper"><p id="team-text">(Doxxed) Team:</p></div>
                <div id="team-block">
                    <div class="tm" id="tm1"><a href="https://www.linkedin.com/in/andrew-j-towne/" target="_blank"><img src="{% static 'pages/images/andrew.png' %}" width="100%"/></a></div>
                    <div class="tm" id="tm2"><a href="https://www.linkedin.com/in/tylersmith0/" target="_blank"><img src="{% static 'pages/images/tyler.png' %}" width="100%"/></a></div>
                    <div class="tm" id="tm3"><a href="https://www.linkedin.com/in/sarah-flenders/" target="_blank"><img src="{% static 'pages/images/sarah.png' %}" width="100%"/></a></div>
                    <div class="tm" id="tm4"><a href="https://www.linkedin.com/in/zach-preschutti-539a48165//" target="_blank"><img src="{% static 'pages/images/zach.png' %}" width="100%"/></a></div>
                    <div class="tm" id="tm5"><a href="https://www.linkedin.com/in/taylorfunke/" target="_blank"><img src="{% static 'pages/images/taylor.png' %}" width="100%"/></a></div>
                    <div class="tm" id="tm6"><a href="https://www.linkedin.com/in/anapbarboza/" target="_blank"><img src="{% static 'pages/images/ana.png' %}" width="100%"/></a></div>
                    <div class="tm" id="tm7"><a href="https://www.linkedin.com/in/connordberry/" target="_blank"><img src="{% static 'pages/images/connor.png' %}" width="100%"/></a></div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}