{% extends "pages/main.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/cc-conf.css' %}">
{% endblock %}
{% block mainbody %}
<div id="main">
    <h2 id="header">Alright! We've got your Address!</h2>
    
    <p class="conf-text">Please allow 24-48 hours for the system to process your info.</p>

    <p class="conf-text">Then, head over to our <a style="color: white;" href="https://saviorsofthesea.com/claim">Claim Site</a> to get your NFT! (Gas fees apply)</p>

    <p class="conf-text">In the meantime, feel free to check out our Discord and Twitter accounts:</p>
    <div id="socials-box">

        <a class="soc-link" href="https://t.co/SNyjTGbfab" target="_blank"><div id="dbox">
            <!-- <img id="discord-img" src="{%static 'pages/images/tyler.png'%}" width="50%" /></a> -->
            <p style="font-size: 2em;">Discord</p>
        </div></a>

        <a class="soc-link" href="https://twitter.com/SaviorsOfTheSea" target="_blank"><div id="tbox">
            <!-- <img id="twitter-img" src="{%static 'pages/images/connor.png'%}" width="50%" /></a> -->
            <p style="font-size: 2em;">Twitter</p>
        </div></a>

    </div>

</div>
{% endblock %}